html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.big-font {
  font-family: 'Gloock', serif;
  font-size: x-large;
  color: black;
  text-align: center;
}

.main-picture {
  width: 100%;
  height: 100%;
}
