html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.center-header {
  font-size: x-large;
}

.upper-div {
  text-align: center;
  position: absolute;
  top: 15%;
  width: 100%;
  line-height: 3vh;
}

.middle-div {
  margin-top: 2vh;
}

.main-picture {
  width: 100%;
  height: 100%;
}
